.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
  border-color: rgb(223, 205, 104);
  border-width: 5px;
  border-style: solid;
}

.btnround {
  border-radius: 10px;
}

.coin {
  margin: 1.5rem auto;
  border-color: rgb(223, 205, 104);
  border-width: 5px;
  border-style: solid;
}


